*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 13, 31);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 16px;
    margin: 0px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.message {
    font-size: 18px;
    padding: 10px;
    border: 2px solid rgb(64, 231, 231);
    border-radius: 1.5em;
}