*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 13, 31);

    display: flex;
    flex-direction: column;
    align-items: center;
}