*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 13, 31);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 16px;
    margin: 0px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.message {
    font-size: 18px;
    padding: 10px 30px;
    margin: 0px;
    width: 350px;
    height: 70px;
    border: 1px solid rgb(158, 161, 161);
    border-radius: 10px;
    text-align: center;
    white-space: pre-wrap;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.human-player,
.computer-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.score-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.score-container span {
    font-weight: bold;
    padding: 5px;
    width: 100px;
    border: 1.5px solid rgb(158, 161, 161);
    border-radius: 0.5em;
    text-align: center;
}

.score-container img {
    height: 30px;
    width: 30px;
    border-radius: 0.5em;
}

.message.win,
.human-score.win,
.computer-score.win {
    border: none;
    background-color: rgb(4, 120, 4);
}

.message.lose,
.human-score.lose,
.computer-score.lose {
    border: none;
    background-color: rgb(120, 4, 4);
}

.cards {
    padding: 16px;
    background-color: rgb(35, 35, 48);
    border: 1px solid rgb(158, 161, 161);
    border-radius: 0.5em;
    width:  350px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards > button {
    padding: 0;
    width: 100px;
    height: 150px;
    border: 1px solid rgb(158, 161, 161);
    border-radius: 0.5em;

    flex-shrink: 1;
}

.cards .selectedButton,
.human-player  button:hover {
    border: 2px solid rgb(255, 128, 0);
}

.cards .selectedButton {
    height: 160px;
    width: 110px;
}

button img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.footer {
    align-self: stretch;
    padding: 16px;
    margin-top: 18px;
    background-color: rgb(35, 35, 48);
    text-align: center;
}

